// ==========================================================================
// ELEMENTS / FORMS
// ==========================================================================

// Semantically, we’d like all forms to be built with FIELDSETs and LEGENDs, but
//  we don’t want to visually see them.

fieldset {
  border: 0;
}

legend {
  @include hide-visually;
}

// Make sure our form elements don’t use any UA-specific font styles: we want
// them to use ours. This may need reverting as more design information becomes
// available, and we start putting together more complete forms.

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}
