// =============================================================================
// ELEMENTS / PAGE
// =============================================================================

// High-level, page-level styling.
//
// 1. Fonts on OSX will look more consistent with other systems that do not
//    render text using sub-pixel anti-aliasing.
// 2. Ensure the page always fills at least the entire height of the viewport.
// 3. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in ems, the `line-height` is calculated to exist unitlessly.
// 4. Force vertical scrollbars to always be visible to prevent awkward ‘jumps’
//    when navigating between pages that do/do not have enough content to
//    produce scrollbars naturally.

html {
  @include font-smoothing; // [1]
  min-height: 100%; // [2]
  overflow-y: scroll; // [4]
  color: color("gray-700");
  font-family: $global-font-family;
  font-size: convert-to-em($global-font-size); // [3]
  line-height: $global-line-height; // [3]
}

// Set core body defaults
//
// 1. Make sure content is visible when user `dark-mode` is enabled.
// 2. Set smooth scrolling as default.

body {
  background-color: color("white"); // [1]
  scroll-behavior: smooth; // [2]
}

// As browsers interpret `vw` differently, some of our full-width (`100vw`) UI
// components cause unwanted horizontal scrolling.

html,
body {
  overflow-x: hidden;
}
