// =============================================================================
// TOOLS / TYPOGRAPHY
// =============================================================================

// Functions
// ==============================================

// font-family()
// ------------------------------------

// Function to get font-family instead of using `map-get`.
// Function to get font-family from `$global-font-families` instead of using `map-get`.
@function font-family($key) {
  @return map-get-deep($global-font-families, $key);
}

// font-size()
// ------------------------------------

// Function to get font-size instead of using `map-get`.
// Function to get font-size from `$text` instead of using `map-get`.
@function font-size($key, $variant: large) {
  @return map-get-deep($text, $key, $variant, font-size);
}

// font-weight()
// ------------------------------------

// Function to get font-weight instead of using `map-get`.
// Function to get font-weight from `$text` instead of using `map-get`.
@function font-weight($key) {
  @return map-get-deep($font-weights, $key);
}

// line-height()
// ------------------------------------
// Function to get line-height from `$text` instead of using `map-get`.
@function line-height($key, $variant: large) {
  @return map-get-deep($text, $key, $variant, line-height);
}

// Mixins
// ==============================================

// @include font()
// ------------------------------------

// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value, e.g:
//
// .foo {
//     @include font(text-body);
// }
//
// This will generate a rem-based font-size and line-height, e.g:
//
// .foo {
//     font-size: 1rem;
//     line-height: 1.5;
// }
//

@mixin font($key, $variant: small) {
  $font-size: font-size($key, $variant);
  font-size: convert-to-rem($font-size);
  line-height: line-height($key, $variant);
}
