// ==========================================================================
// UTILITIES / DEBUG
// ==========================================================================

// Layout debugging
// ==============================================

@if (config(debug) == true) {
  $debug-color: #f00;
  $visual-grid-color: #00d4ff;
  $visual-grid-opacity: 0.3;

  // Warn when trying to manipulate layout items in grids that are
  // already reversed.

  .o-grid--reverse {
    > [class*="u-push"],
    > [class*="u-pull"] {
      outline: 10px solid $debug-color;
    }
  }

  // Warn when trying to use layout items outside of a layout context.

  .o-grid__item {
    outline: 10px solid $debug-color;

    .o-grid > & {
      outline: none;
    }
  }

  // Apply a visual grid to the body for grid debugging.

  body::before {
    @include grid-debug(
      rgba($visual-grid-color, $visual-grid-opacity),
      $adaptable-grid
    );
    display: inline-block;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    max-width: convert-to-em($global-container-width);
    height: 100%;
    margin: 0 auto;
    content: "";
    z-index: 10;
    pointer-events: none;
  }
}

// Baseline debugging (for vertical rhythm)
// ==============================================

$visual-baseline: true;
$visual-baseline-color: #ccc;
$visual-baseline-opacity: 0.6;

// Here we apply the visual baseline to the after pseudo-element of body
@if variable-exists(visual-baseline) and $visual-baseline == true {
  body {
    position: relative;

    &::after {
      @include grid-visual-baseline(
        rgba($visual-baseline-color, $visual-baseline-opacity),
        $visual-baseline
      );
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      content: "";
      z-index: 10;
      pointer-events: none;
    }
  }
}
