// =============================================================================
// TOOLS / MIXINS
// =============================================================================

// sass-lint:disable no-warn

// @include focus-styles()
// ==============================================

// Generates a consistent outline shadow for use on `:focus` or `.has-focus`.
@mixin focus-styles($color: default, $width: 1px) {
  @if ($color == "default") {
    outline: $width dashed color("brand-orange");
    outline-offset: -$width;
  }
  @elseif ($color == "invert") {
    outline: $width dashed color("brand-navy");
    outline-offset: -$width;
  } @else {
    @warn "`#{$color}` is not a valid outline color, it must be `default` or `invert`.";
  }
}

// Making accessible hover/focus states simpler
// ===========================================

// Generate `:hover` and `:focus` styles in one go.
// http://www.456bereastreet.com/archive/201004/whenever_you_use_hover_also_use_focus/
@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

// Removing elements from view and/or ATs
// ===========================================

// Visually hide content, leaving it accessible to screenreaders and ATs.
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

// sass-lint:disable no-important

@mixin hide-visually {
  // Hiding elements visually overrides any matching property declarations
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

// Completely hide content both visually from the screen, and from screenreaders
// and ATs.
@mixin hide-completely {
  // Hiding elements completely overrides any matching property declarations
  display: none !important;
}

// sass-lint:enable no-important

// Font smoothing
// ==============

// Controls the application of anti-aliasing when fonts are rendered on mac OS.

// sass-lint:disable no-vendor-prefixes

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// sass-lint:enable no-vendor-prefixes

// Centerer
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if $horizontal and $vertical {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $horizontal {
    left: 50%;
    transform: translateX(-50%);
  } @else if $vertical {
    top: 50%;
    transform: translateY(-50%);
  }
}

// Overlay
@mixin overlay($color) {
  &::before {
    @include position(absolute, 0 0 0 0);
    background-color: $color;
    content: "";
  }
}

// Custom visual baseline
@mixin grid-visual-baseline($color: #ccc, $baseline-grid: $visual-baseline) {
  $_grid-baseline: transparent,
    transparent ($global-line-height * $global-font-size) - 1,
    $color ($global-line-height * $global-font-size) - 1,
    $color $global-line-height * $global-font-size;

  background-image: repeating-linear-gradient(to bottom, $_grid-baseline);
}
