// =============================================================================
// TOOLS / TYPOGRAPHY
// =============================================================================

// Font-sizing and vertical rhythm mixin
// ===========================================

// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value, e.g:
//
// .foo {
//     @include font(text-body);
// }
//
// This will generate a rem-based font-size and line-height, e.g:
//
// .foo {
//     font-size: 1rem;
//     line-height: 1.5;
// }
//

@mixin font($key, $variant: small) {
  $font-size: font-size($key, $variant);
  @include rem($font-size);
  line-height: line-height($key, $variant);
}

// @include rem()
// ------------------------------------
// Generates a rem-based font-size
//
// .foo {
//     @include rem(16px);
// }
//
// Will output:
//
// .foo {
//   font-size: 1rem;
// }
@mixin rem($value) {
  @if unit($value) != "px" {
    @warn "Value must by a px unit";
  }

  font-size: ($value / $global-font-size) * 1rem;
}
