// =============================================================================
// GENERIC / FONT-FACE
// =============================================================================

$font-faces: (
  "Overpass-Regular": (
    "family": "Overpass",
    "style": normal,
    "weight": font-weight("normal"),
  ),
);

@each $font-face, $val in $font-faces {
  @font-face {
    font-family: map-get-deep($val, family);
    font-style: map-get-deep($val, style);
    font-weight: map-get-deep($val, weight);
    src: url("/assets/fonts/#{$font-face}.woff2") format("woff2"),
      url("/assets/fonts/#{$font-face}.woff") format("woff");
    font-display: swap;
  }
}
