// =============================================================================
// GENERIC / RESET
// =============================================================================

/* stylelint-disable property-no-vendor-prefix */

// Remove margin and padding from appropriate elements in all browsers.

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

//
// 1. Remove default table spacing.
// 2. Remove text indentation from table contents in Chrome and Safari.
// (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
// 3. Correct table border color inheritance in all Chrome and Safari.
// (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
//

table {
  border-spacing: 0; // [1]
  border-collapse: collapse; // [1]
  border-color: inherit; // [2]
  text-indent: 0; // [3]
}

// 1. Matches default `<td>` alignment by inheriting `text-align`.
// 2. Fix alignment for Safari

th {
  text-align: inherit; // 1
  text-align: -webkit-match-parent; // 2
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-width: 0;
  border-style: solid;
  border-color: inherit;
}

// Semantically, we’d like all forms to be built with FIELDSETs but we don't
// want to visually see them.

// 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
//    on fieldsets.
// 2. Remove default border.

fieldset {
  min-width: 0; // [1]
  border: 0; // [2]
}

// Make sure our form elements don’t use any UA-specific font styles: we want
// them to use ours. This may need reverting as more design information becomes
// available, and we start putting together more complete forms.

// 1. Remove the margin in Firefox and Safari

button,
input,
optgroup,
select,
textarea {
  margin: 0; // [1]
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

// Show the overflow in Edge

button,
input {
  overflow: visible;
}

// Remove the inheritance of text transform in Firefox

button,
select {
  text-transform: none;
}

// Remove the inheritance of word-wrap in Safari.

select {
  word-wrap: normal;
}

address {
  font-style: normal;
  line-height: inherit;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.

textarea {
  resize: vertical; // 1
}

// Fix height of inputs with a type of datetime-local, date, month, week, or time

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

// 1. Correct the outline style in Safari.
// 2. This overrides the extra rounded corners on search inputs in iOS.

[type="search"] {
  outline-offset: -2px; // 1
  appearance: textfield; // 2
}

// Remove the inner padding in Chrome and Safari on macOS.

::-webkit-search-decoration {
  appearance: none;
}

// Remove padding around color pickers in webkit browsers

::-webkit-color-swatch-wrapper {
  padding: 0;
}

// 1. Change font properties to `inherit` in Safari.
// 2. Correct the inability to style clickable types in iOS and Safari.

::-webkit-file-upload-button {
  font: inherit; // 1
  appearance: button; // 2
}

// Correct element displays

output {
  display: inline-block;
}

// Remove border from iframe

iframe {
  border: 0;
}

// Summary
//
// 1. Add the correct display in all browsers

summary {
  display: list-item; // 1
  cursor: pointer;
}

// Progress
//
// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  vertical-align: baseline;
}
