/* #{{comment}} */

@include font-face("{{fontName}}", "{{fontPath}}/{{fontName}}");

@mixin icon($content: "") {
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: $content;
    font-family: "{{fontName}}";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    @content;
  }
}

.icon {
  @include icon;
}

{% for icon in icons -%}
// Save variable
$icon--{{icon.name}}: "\{{icon.code}}"
// Save mixin
@mixin icon--{{icon.name}} {
  @include icon($icon-{{icon.name}}) {
    @content;
  }
}
// Expose as class
.icon.icon--{{icon.name}}::before {
  content: $icon-{{icon.name}}
}
{% endfor %}
