// =============================================================================
// OBJECTS / ASPECT RATIO
// =============================================================================
//
// Forces elements to maintain their aspect ratio throughout different
// viewport widths.

@use "sass:math";
@use "sass:string";
@use "bourbon/core/bourbon";
@use "../settings" as *;
@use "../tools";

$aspect-ratios: (
  "1/1": 100%,
  "4/3": math.percentage(math.div(3, 4)),
  "16/9": math.percentage(math.div(9, 16)),
  "21/9": math.percentage(math.div(9, 21)),
) !default;

// Base
// ====================================

.o-aspect-ratio {
  --aspect-ratio: auto;

  aspect-ratio: var(--aspect-ratio);

  @supports not (aspect-ratio: 1 / 1) {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
    }

    > * {
      @include bourbon.position(absolute, 0 null 0 0);
      @include bourbon.size(100%);
    }
  }
}

// Modifiers (Size)
// ====================================

@each $ratio, $value in $aspect-ratios {
  $ratio-suffix: tools.str-replace($ratio, "/", "\\/");

  .o-aspect-ratio--#{$ratio-suffix} {
    --aspect-ratio: #{string.unquote($ratio)};

    @supports not (aspect-ratio: 1 / 1) {
      &::before {
        padding-top: $value;
      }
    }
  }
}
