// ==========================================================================
// OBJECTS / BLOCK
// ==========================================================================

@use "../settings" as *;

$block-spacing: $spacing-6 !default;
$block-spacing-tiny: $spacing-2 !default;
$block-spacing-small: $spacing-4 !default;
$block-spacing-large: $spacing-8 !default;
$block-spacing-huge: $spacing-12 !default;

// Stacked image-with-text object.
// A simple abstraction to cover a very cmmonly occurring design pattern.

.o-block {
  display: block;
  text-align: center;
}

.o-block__image {
  --block-image-spacing: #{$block-spacing};
  margin-bottom: var(--block-image-spacing, $block-spacing);

  // Size variants
  // ============================================

  .o-block--flush > & {
    margin-bottom: 0;
  }

  .o-block--tiny > & {
    --block-image-spacing: #{$block-spacing-tiny};
  }

  .o-block--small > & {
    --block-image-spacing: #{$block-spacing-small};
  }

  .o-block--large > & {
    --block-image-spacing: #{$block-spacing-large};
  }

  .o-block--huge > & {
    --block-image-spacing: #{$block-spacing-huge};
  }
}

.o-block__body {
  display: block;
}

// Alignment variants
// ==============================================

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
