// ==========================================================================
// OBJECTS / BLOCK
// ==========================================================================

$block-spacing: spacing(6) !default;
$block-tiny-spacing: spacing(2) !default;
$block-small-spacing: spacing(4) !default;
$block-large-spacing: spacing(8) !default;
$block-huge-spacing: spacing(12) !default;

// Stacked image-with-text object.
// A simple abstraction to cover a very cmmonly occurring design pattern.

.o-block {
  display: block;
  text-align: center;
}

.o-block__img {
  margin-bottom: $block-spacing;

  // Size variants
  // ============================================

  .o-block--flush > & {
    margin-bottom: 0;
  }

  .o-block--tiny > & {
    margin-bottom: $block-tiny-spacing;
  }

  .o-block--small > & {
    margin-bottom: $block-small-spacing;
  }

  .o-block--large > & {
    margin-bottom: $block-large-spacing;
  }

  .o-block--huge > & {
    margin-bottom: $block-huge-spacing;
  }
}

.o-block__body {
  display: block;
}

// Alignment variants
// ==============================================

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
