// ==========================================================================
// OBJECTS / BOX
// ==========================================================================

@use "../settings" as *;

$box-padding: $spacing-6 !default;
$box-padding-tiny: $spacing-2 !default;
$box-padding-small: $spacing-4 !default;
$box-padding-large: $spacing-8 !default;
$box-padding-huge: $spacing-12 !default;

// The box object simply boxes off content.
// Extend with cosmetic styles in the Components layer.
//
// 1. So we can apply the `.o-box` class to naturally-inline elements.

.o-box {
  --box-padding: #{$box-padding};

  display: block; // [1]
  padding: var(--box-padding, $box-padding);
}

// Size variants
// ==============================================

.o-box--flush {
  padding: 0;
}

.o-box--tiny {
  --box-padding: $box-padding-tiny;
}

.o-box--small {
  --box-padding: $box-padding-small;
}

.o-box--large {
  --box-padding: $box-padding-large;
}

.o-box--huge {
  --box-padding: $box-padding-huge;
}
