// ==========================================================================
// OBJECTS / FLOW
// ==========================================================================

// The Flow object allows us to set consistend and predictable
// vertical and/or horizontal rhythm between elements or components.

$flow-directions: (
  "vertical": top,
  "horizontal": left,
);

$flow-space: convert-to-rem($global-font-size * $global-line-height);

.o-flow > * + * {
  margin-top: $flow-space;
}

.o-flow-horizontal > * + * {
  margin-left: $flow-space;
}
