// =============================================================================
// OBJECTS / GRID
// =============================================================================

@use "sass:map";
@use "sass:math";
@use "sass-mq/mq";
@use "../settings" as *;

// The Grid object provides us with a column-style layout system. This file
// contains the basic structural elements, but classes should be complemented
// with grid item modifier classes, for example:
//
// <div class="o-container">
//   <div class="o-grid">
//     <div class="o-grid__col o-grid__col--6">...</div>
//     <div class="o-grid__col o-grid__col--6">...</div>
//   </div>
// </div>

.o-grid {
  --grid-columns: #{math.div($grid-columns, 3)};
  --column-gap: #{$grid-column-gap};
  --row-gap: #{$grid-row-gap};
  display: grid;
  grid-template-columns: repeat(var(#{--grid-columns}), minmax(0, 1fr));
  column-gap: var(#{--column-gap});
  row-gap: var(#{--row-gap});

  @include mq.mq($from: md) {
    --grid-columns: #{math.div($grid-columns, 2)};
  }

  @include mq.mq($from: lg) {
    --grid-columns: #{$grid-columns};
  }
}

// Grid column creates the basics for the grid column layout

.o-grid__col {
  grid-column-end: span var(#{--grid-columns});
}

//
// Tools (Private) - Build grid columns modifier classes
// ==========================================================================
//
// This code will generate our grid system column modifier classes in one go.
// You shouldn’t need to know the full ins-and-outs of what is going on below,
// all you really need to know is that we end up with a suite of classes like:
//
// .o-grid__col--6 -- spans for 6 columns
// .o-grid__col--9@md -- spans for 9 columns on medium and up screens
// .o-grid__col--start-8 -- start a column at 8
//
// that you can then use with the main `.o-grid__col` class to modify your
// grid columns size and position.

@mixin _build-grid-system($breakpoint: null) {
  // Get the total number of columns defined inside
  // _grid-settings file.
  $grid-columns: $grid-columns;

  // Initiate an empty map so we can push into it
  // our column widths from the loop below.
  $column-widths: ();

  // Loop through the number of columns in our grid
  @for $i from 1 through $grid-columns {
    // Build a class in the format `.o-grid__col--6[@<breakpoint>]`.
    .o-grid__col--#{$i}#{$breakpoint} {
      grid-column-end: span $i;
    }

    // Build a class in the format `.o-grid__col--start-2[@<breakpoint>]`.
    .o-grid__col--start-#{$i}#{$breakpoint} {
      grid-column-start: $i;
    }
  }
}

// Generate our regular, non-responsive classes.
@include _build-grid-system;

// Generate our responsive classes by looping over the series of breakpoints
// held by $breakpoints inside _breakpoint.scss file.
@each $breakpoint, $value in $breakpoints {
  @include mq.mq($from: $breakpoint) {
    @include _build-grid-system(\@#{$breakpoint});
  }
}
