// ==========================================================================
// OBJECTS / MEDIA
// ==========================================================================

@use "../settings" as *;

$media-spacing: $spacing-6 !default;
$media-spacing-tiny: $spacing-2 !default;
$media-spacing-small: $spacing-4 !default;
$media-spacing-large: $spacing-8 !default;
$media-spacing-huge: $spacing-12 !default;

// Place any image- and text-like content side-by-side, as per:
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

.o-media {
  display: flex;
}

.o-media__image {
  --media-image-spacing: #{$media-spacing};

  margin-right: var(--media-image-spacing);
}

.o-media__body {
  flex: 1 1 0;
}

// Vertical alignment modifiers.
// ==============================================

.o-media--middle {
  align-items: center;
}

.o-media--bottom {
  align-items: flex-end;
}

// Size variants
// ==============================================

// Modify the amount of space between our image and our text.
// We also have reversible options for all available sizes.

.o-media--flush {
  > .o-media__image {
    margin-right: 0;
    margin-left: 0;
  }
}

.o-media--tiny {
  > .o-media__image {
    --media-image-spacing: #{$media-spacing-tiny};
  }
}

.o-media--small {
  > .o-media__image {
    --media-image-spacing: #{$media-spacing-small};
  }
}

.o-media--large {
  > .o-media__image {
    --media-image-spacing: #{$media-spacing-large};
  }
}

.o-media--huge {
  > .o-media__image {
    --media-image-spacing: #{$media-spacing-huge};
  }
}

// Reversed media objects
// ==============================================

.o-media--reverse {
  > .o-media__image {
    order: 1;
    margin-right: 0;
    margin-left: var(--media-image-spacing);
  }
}
