doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= siteTitle
    meta(name="description" content=siteDescription)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    // Favicons
    include ../includes/_favicons
    // Facebook Open Graph
    include ../includes/_open-graph
    // Twitter Card
    include ../includes/_twitter-card
    // Stylesheet links
    block styles
      link(rel="stylesheet" href="style/style.css")
  body
    //- To use your defined Jade mixins include the mixins file below
    include ../mixins/_mixins
    //- This is where you include your header
    include _header
    //- This is where your block content starts
    block content
    //- This is where you include your footer
    include _footer
  //- This is where you include your scripts
  block scripts
    script(defer src="js/app.js")
    include ../includes/_analytics
