// =============================================================================
// UTILITIES / ASPECT RATIO
// =============================================================================
//
// Maintain aspect ratio of elements.

// Base
// ===========================================

.o-aspect-ratio {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;

  > :first-child {
    @include position(absolute, 0 null 0 0);
    @include size(100%);
    border: 0;
    object-fit: cover;
  }
}

// Modifiers (Cosmetic)
// ===========================================

.o-aspect-ratio--contain {
  overflow: visible;

  > :first-child {
    object-fit: contain;
  }
}

// Modifiers (Size)
// ===========================================

.o-aspect-ratio--16\:9 {
  padding-top: percentage(9 / 16);
}

.o-aspect-ratio--4\:3 {
  padding-top: percentage(3 / 4);
}

.o-aspect-ratio--1\:1 {
  padding-top: percentage(1 / 1);
}
