// ==========================================================================
// OBJECTS / BREAKOUT
// ==========================================================================
//
// Allows components to break out of their container and span across the
// full width of the viewport.

.o-breakout {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.o-breakout\@small {
  @include mq($until: medium) {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
