// ==========================================================================
// UTILITIES / BREAKOUT
// ==========================================================================
//
// Allows components to break out of their container and span across the
// full width of the viewport.

.o-breakout {
  margin-right: calc(50% - 50vw); // [1]
  margin-left: calc(50% - 50vw); // [1]
}

.o-breakout\@small {
  @include mq($until: medium) {
    margin-right: calc(50% - 50vw); // [1]
    margin-left: calc(50% - 50vw); // [1]
  }
}
