// ==========================================================================
// OBJECTS / CONTAINER
// ==========================================================================

// 1. The $global-container-width variable is defined inside
//    settings/_globals.scss file.

.o-container {
  max-width: convert-to-em($global-container-width); // [1]
  margin-right: auto; // [2]
  margin-left: auto; // [2]
  padding-right: $grid-gutter; // [3]
  padding-left: $grid-gutter; // [3]
}
