// ==========================================================================
// OBJECTS / LIST-INLINE
// ==========================================================================

// The list-inline object displays any list of items as a single line.

// sass-lint:disable no-css-comments

/* [ul|ol] */.o-list-inline {
  margin-left: 0;
  list-style: none;
}

/* li */.o-list-inline__item {
  display: inline-block;
}

// Spacing modifiers
// ===========================================

/* [ul|ol] */.o-list-inline--wide {
  > /* li */.o-list-inline__item {
    margin-right: $global-spacing;
  }
}

/* [ul|ol] */.o-list-inline--narrow {
  > /* li */.o-list-inline__item {
    margin-right: $global-spacing-small;
  }
}

// No wrap
// Allow horizontal scroll
// ==========================================

/* [ul] */.o-list-nowrap {
  white-space: nowrap;
  overflow-x: auto;
}
