// =============================================================================
// OBJECTS / MEDIA
// =============================================================================

// The Media Object is the poster-child of the OOCSS methodology. It simply
// places any image-like content next to any text-like content.
//
// For further and philosophical reading about OOCSS in general, please see:
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.o-media {
  display: flex;
}

.o-media__img {
  margin-right: $grid-gutter;

  // Small Media Objects simply have smaller gaps between the image and the body.

  .o-media--small > & {
    margin-right: $grid-gutter / 2;
  }

  // ...and larger ones are, well, larger.

  .o-media--large > & {
    margin-right: $grid-gutter * 2;
  }

  // We can quite easily swap the image and body around by adding the
  // `--invert` Modifier to the Block.

  .o-media--invert > & {
    order: 1;
    margin-right: 0;
    margin-left: $grid-gutter;
  }

  // ...then we can have small or large versions of that.

  .o-media--small.o-media--invert > & {
    margin-left: $grid-gutter / 2;
  }

  .o-media--large.o-media--invert > & {
    margin-left: $grid-gutter * 2;
  }
}

.o-media__body {
  flex: 1;
}
