---
title: Page not found
excludeFromSitemap: true
permalink: 404/index.html
---

{% extends "../layouts/_base.njk" %}

{% block content %}
  <div class="u-flex u-flex-col u-align-items-center u-justify-content-center u-min-h-screen u-text-center">
    <h1>The page you're looking for can't be found.</h1>
    <a href="/">Go To The Homepage</a>
  </div>
{% endblock %}

