---
title: Happy coding!
permalink: index.html
---

{% extends "../layouts/_base.njk" %}

{% block content %}
  {# Delete me #}
  <div class="u-flex u-flex-col u-align-items-center u-justify-content-center u-min-h-screen">
    <img class="u-height-auto u-mb-6" width="250" height="250" src="/assets/images/nucleum-logo.svg" alt="Nucleum">
    <h1 class="u-text-center">{{ title }}</h1>
    <a href="https://github.com/CosAnca/nucleum/blob/master/README.md" target="_blank" rel="noopener">Nucleum Documentation</a>
  </div>
  {# End Delete me #}
{% endblock %}

