//- ======================================================================== -//
//- MIXINS / MIXINS                                                          -//
//- ======================================================================== -//

//- This is where you define your global/common Pug mixins

//- Icon mixin to generate SVG icons
mixin icon(iconName, aditionalClasses)
  svg.c-icon(class=aditionalClasses)&attributes(attributes)
    use(xlink:href=`img/icons.svg#${iconName}`)
