{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#1a1a1a">
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#1a1a1a">
