extends layout/_root

block content
  // Site content
  main#main-content
    .o-container
      h1.u-text-center Nucleum Grid System
      .o-grid
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.o-grid__item--span-6-col.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="o-grid__item--span-6-col@large")
          .o-grid
            .o-grid__item.o-grid__item--span-6-col.u-py-6.u-bg-gray-600
            .o-grid__item.o-grid__item--span-6-col.u-py-6.u-bg-gray-600
        .o-grid__item.u-my-3.u-py-3.u-bg-gray-400
          .o-grid
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600.o-grid__item--span-8-col(class="o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600.o-grid__item--span-4-col(class="o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600(class="o-grid__item--span-6-col@large o-grid__item--push-3-col@medium u-ml-6@large")
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.o-grid__item--span-6-col.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="o-grid__item--span-6-col@large")
          .o-grid
            .o-grid__item.o-grid__item--span-6-col.u-py-6.u-bg-gray-600
            .o-grid__item.o-grid__item--span-6-col.u-py-6.u-bg-gray-600
        .o-grid__item.u-my-3.u-py-3.u-bg-gray-400
          .o-grid
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600.o-grid__item--span-8-col(class="o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600.o-grid__item--span-4-col(class="o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600(class="o-grid__item--span-6-col@large o-grid__item--push-3-col@medium u-ml-6@large")
