extends layout/_root

block content

  // Site content
  main#main-content
    .o-container
      h1.u-text-center Hello World
      .o-grid
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="u-width-1/2")
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="u-width-1/2")
          .o-grid
            .o-grid__item.u-py-6.u-bg-gray-600(class="u-width-1/2")
            .o-grid__item.u-py-6.u-bg-gray-600(class="u-width-1/2")
    .o-container
      h1.u-text-center New Grid System
      .o-grid
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="o-grid__item--span-6-col")
        .o-grid__item.u-my-3.u-py-6.u-bg-gray-400(class="o-grid__item--span-6-col")
          .o-grid
            .o-grid__item.u-py-6.u-bg-gray-600(class="o-grid__item--span-6-col")
            .o-grid__item.u-py-6.u-bg-gray-600(class="o-grid__item--span-6-col")
        .o-grid__item.u-my-3.u-py-3.u-bg-gray-400(class="o-grid__item--span-9-col")
          .o-grid
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600(class="o-grid__item--span-8-col o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600(class="o-grid__item--span-4-col o-grid__item--span-6-col@large")
            .o-grid__item.u-my-3.u-py-6.u-bg-gray-600(class="o-grid__item--span-6-col@large o-grid__item--col-start-3@large")
