// ==========================================================================
// UTILITIES / #FILL
// ==========================================================================

// Utility class to add negative margins to a component in order to fill the
// layout item width plus its gutters.
.u-fill-horizontal {
  margin-right: -#{grid-gutter-size()};
  margin-left: -#{grid-gutter-size()};

  @include grid-media($medium-screen) {
    margin-right: -#{grid-gutter-size($neat-grid-medium)};
    margin-left: -#{grid-gutter-size($neat-grid-medium)};
  }
}

.u-fill-horizontal\@small {
  @include grid-media-max($medium-screen-width) {
    margin-right: -#{grid-gutter-size()};
    margin-left: -#{grid-gutter-size()};
  }
}
