// =============================================================================
// UTILITIES / TYPOGRAPHY
// =============================================================================

// Typography utilities will override any matching property declarations

// Text alignment utilities
// ==============================================

// sass-lint:disable no-important
$text-alignments: (left, center, right, justify);

// Generate general use text alignment classes
@each $text-alignment in $text-alignments {
  .u-text-#{$text-alignment} {
    text-align: $text-alignment !important;
  }
}

// Generate responsive text alignment classes
@each $breakpoint, $value in $mq-breakpoints {
  @each $text-alignment in $text-alignments {
    .u-text-#{$text-alignment}\@#{$breakpoint} {
      @include mq($from: $breakpoint) {
        text-align: $text-alignment !important;
      }
    }
  }
}

// Font weights and styles utilities
// ==============================================
//
// $font-weights are declared inside settings/_typography

@each $font-weight-key, $font-weight-value in $font-weights {
  .u-font-#{$font-weight-key} {
    font-weight: $font-weight-value !important;
  }
}

.u-font-normal {
  font-style: normal !important;
}

.u-font-italic {
  font-style: italic !important;
}

// Transformation
// ==============================================

@each $transformation in lowercase, uppercase, capitalize {
  .u-text-#{$transformation} {
    text-transform: $transformation !important;
  }
}

// Misc
// ==============================================

.u-text-decoration-none {
  text-decoration: none !important;
}

// Text utility to constrain text to a maximum of 75 characters per line,
// regardless of the text’s `font-size`. 30em is roughly equal to 75 characters,
// so we hard-code this value. Please don’t change it.
//
// https://jsfiddle.net/5571te7g/

.u-text-constrain {
  max-width: 30em !important;
}
