// =============================================================================
// SETTINGS
// =============================================================================

//
// CONTENTS
//
// Config...............Configuration and environment settings.
// Globals..............Globally available settings for the entire project.
// Colors...............Brand colours are centrally managed for later use.
// Spacing..............Define our spacing settings in one place.
// Typography...........Define our typographical settings in one place.
// Breakpoints..........Define generic breakpoints for media queries.
// Grid Settings........Hold sitewide breakpoint values.

@import "config";
@import "colors";
@import "typography";
@import "spacing";
@import "breakpoints";
@import "grid";
@import "container";
@import "borders";
