// ==========================================================================
// SETTINGS / BORDERS
// ==========================================================================

// Border widths
$border-width-none: 0 !default;
$border-width-base: 1px !default;

// Border radius
$border-radius-none: 0 !default;
$border-radius-sm: 0.125rem !default;
$border-radius-base: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-full: 50rem !default;
