// =============================================================================
// SETTINGS / GRID SETTINGS
// =============================================================================

$grid-columns: 12;
$grid-column-gap: 1.5rem;
$grid-row-gap: 1.5rem;
