// =============================================================================
// SETTINGS / SPACING
// =============================================================================

// Global spacing settings
// ===============================================
//
// The global spacing configuration is based as a
// quarter of the global font size

$spacing-base: 0.25rem !default;

$spacing-1: $spacing-base !default;
$spacing-2: $spacing-base * 2 !default;
$spacing-3: $spacing-base * 3 !default;
$spacing-4: $spacing-base * 4 !default;
$spacing-5: $spacing-base * 5 !default;
$spacing-6: $spacing-base * 6 !default;
$spacing-8: $spacing-base * 8 !default;
$spacing-10: $spacing-base * 10 !default;
$spacing-12: $spacing-base * 12 !default;
$spacing-14: $spacing-base * 14 !default;
$spacing-18: $spacing-base * 18 !default;
$spacing-32: $spacing-base * 32 !default;
