// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Brand and project font-sizes, font-weights and line-heights are held in maps.

// Font sizes
//
// Define their values in `px`.
// The output value will be in `rem`.
//
// Access these using the `font-size` mixin or function
// from `tools/typography`

$font-sizes: (
  "xs": 12px,
  "sm": 14px,
  "base": $global-font-size,
  "lg": 18px,
  "xl": 20px,
  "2xl": 24px,
  "3xl": 30px,
  "4xl": 36px,
  "5xl": 40px,
  "6xl": 48px,
  "7xl": 64px,
) !default;

// Font weights
// Access these using either `@include font-weight()` mixin or `font-weight()`
// function from `tools/typography`

$font-weights: (
  "hairline": 100,
  "thin": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
) !default;

// Line heights
// Access these using either `@include line-height()` mixin or `line-height()`
// function from `tools/typography`

$line-heights: (
  "none": 1,
  "tight": 1.25,
  "normal": $global-line-height,
) !default;
