// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Brand and project font-sizes, font-weights and line-heights are held in maps.

// Font sizes
//
// Define their values in `px`.
// The output value will be in `rem`.
//
// Access these using the `font-size` mixin or function
// from `tools/typography`

$font-size: (
  "xs": 12px,
  "sm": 14px,
  "base": 16px,
  "lg": 18px,
  "xl": 20px,
  "2xl": 24px,
  "3xl": 30px,
  "4xl": 36px,
  "5xl": 40px,
  "6xl": 48px,
  "7xl": 64px,
) !default;

// Font weights
// Access these using either `@include font-weight()` mixin or `font-weight()`
// function from `tools/typography`

$font-weight: (
  "hairline": 100,
  "thin": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
) !default;

// Line heights
// Access these using either `@include line-height()` mixin or `line-height()`
// function from `tools/typography`

$line-height: (
  "none": 1,
  "tight": 1.25,
  "normal": 1.5,
) !default;

// Text
//
// The following map compose the font-size and line-height into deeper maps
// that we use to generate responsive font-size.
//
// Access these using `@include text()` from `tools/typography`.

$text: (
  "heading-alpha": (
    "small": (
      "font-size": map-get($font-size, "4xl"),
      "line-height": map-get($line-height, "tight"),
    ),
    "large": (
      "font-size": map-get($font-size, "6xl"),
      "line-height": map-get($line-height, "tight"),
    ),
  ),
  "heading-bravo": (
    "small": (
      "font-size": map-get($font-size, "3xl"),
      "line-height": map-get($line-height, "tight"),
    ),
    "large": (
      "font-size": map-get($font-size, "5xl"),
      "line-height": map-get($line-height, "tight"),
    ),
  ),
  "heading-charlie": (
    "small": (
      "font-size": map-get($font-size, "2xl"),
      "line-height": map-get($line-height, "tight"),
    ),
    "large": (
      "font-size": map-get($font-size, "4xl"),
      "line-height": map-get($line-height, "tight"),
    ),
  ),
  "heading-delta": (
    "small": (
      "font-size": map-get($font-size, "xl"),
      "line-height": map-get($line-height, "tight"),
    ),
    "large": (
      "font-size": map-get($font-size, "3xl"),
      "line-height": map-get($line-height, "tight"),
    ),
  ),
  "lead": (
    "small": (
      "font-size": map-get($font-size, "lg"),
      "line-height": map-get($line-height, "normal"),
    ),
    "large": (
      "font-size": map-get($font-size, "lg"),
      "line-height": map-get($line-height, "normal"),
    ),
  ),
  "body": (
    "small": (
      "font-size": map-get($font-size, "base"),
      "line-height": map-get($line-height, "normal"),
    ),
    "large": (
      "font-size": map-get($font-size, "base"),
      "line-height": map-get($line-height, "normal"),
    ),
  ),
  "smallprint": (
    "small": (
      "font-size": map-get($font-size, "sm"),
      "line-height": map-get($line-height, "normal"),
    ),
    "large": (
      "font-size": map-get($font-size, "sm"),
      "line-height": map-get($line-height, "normal"),
    ),
  ),
  "tinyprint": (
    "small": (
      "font-size": map-get($font-size, "xs"),
      "line-height": map-get($line-height, "normal"),
    ),
    "large": (
      "font-size": map-get($font-size, "xs"),
      "line-height": map-get($line-height, "normal"),
    ),
  ),
) !default;
