// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Base typography settings

$font-family-base: $font-stack-system !default;

// $font-size-root affects the value of `rem`,
// which is used for font sizes, paddings and margins as well
$font-size-root: null !default;

// $font-size-base affects the font size of the body text
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

// Font sizes
//
// Define their values in `px`.
// The output value will be in `rem`.
//
// Access these using the `@include font-size()` mixin defined in
// `tools/_typography.scss`

$font-sizes: (
  "xs": 12px,
  "sm": 14px,
  "base": $font-size-base,
  "lg": 18px,
  "xl": 20px,
  "2xl": 24px,
  "3xl": 30px,
  "4xl": 36px,
  "5xl": 40px,
  "6xl": 48px,
  "7xl": 64px,
) !default;

// Font weights
//
// Access these using the `@include font-weight()` mixin defined in
// `tools/_typography.scss`

$font-weights: (
  "hairline": 100,
  "thin": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
) !default;

// Line heights
//
// Access these using `@include line-height()` mixin defined in
// `tools/_typography.scss`

$line-heights: (
  "none": 1,
  "tight": 1.25,
  "normal": $line-height-base,
) !default;
