// =============================================================================
// ELEMENTS / TYPOGRAPHY
// =============================================================================

// Headings
// ===========================================

// All heading elements are completely unstyled by default,
// and have the same font-size and font-weight as normal text.
//
// Anything more opinionated than simple font-size changes should likely
// be applied via classes
// (see: http://csswizardry.com/2016/02/managing-typography-on-large-apps/).

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// Other text-level elements
// ===========================================

small {
  font-size: 75%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
