// =============================================================================
// SETTINGS / GLOBALS
// =============================================================================

// Global typography settings
// ==============================================

$global-font-family: $font-stack-helvetica;
$global-font-size: 16px !default;
$global-line-height: 1.5;

// Global spacing settings
// ===============================================

$global-spacing: $global-line-height * 1rem;
$global-spacing-small: $global-spacing / 2;
$global-spacing-large: $global-spacing * 2;

// Global container settings
// ===============================================

$global-container-width: 1200px !default;

// Global border settings
// ===============================================

$global-border-width: 1px !default;
$global-border-radius: 0.25em !default;

// Global animation settings
// ==============================================

$global-animation-speed: 0.5s !default;
$global-animation-speed-fast: $global-animation-speed / 2 !default;
$global-animation-speed-slow: $global-animation-speed * 2 !default;
