// =============================================================================
// SETTINGS / GRID SETTINGS
// =============================================================================

// Grid global settings
// ====================
// We define our grid settings by overwriting Neat's built in grid object.
// Our grid will have 12 columns and 1.5rem (24px) gutters width across
// all breakpoints. Find more about Neat grid here:
// http://neat.bourbon.io/docs/latest/#neat-grids
$neat-grid: (
  columns: 12,
  gutter: $global-spacing / 1.5
);

// We define a new grid settings object to overwrite the gutter
// for medium viewports up.
$neat-grid-medium: (gutter: $global-spacing);

// We define our grid maximum width here
$grid-max-width: $global-container-width;

// We define our breakpoints in the object below.
$breakpoints: (
  medium: 740px,
  large: 980px,
  x-large: 1300px
) !default;
