// =============================================================================
// SETTINGS / GRID SETTINGS
// =============================================================================

// Nucleum core css uses Adaptable (npm.im/adaptable) for its grid system.
// Check Adaptable's documentation here: https://github.com/CosAnca/adaptable

// Grid global settings
// ====================
//
// We define our grid settings by overwriting Adaptable's built in grid object.
// Our grid will have 12 columns and 1.5rem (24px) gutters across
// all breakpoints. Find more about Adaptable's grid configuration here:
// https://github.com/CosAnca/adaptable#adaptable-grid

$grid-columns: 12;
$grid-gutter: 1.5rem;

$adaptable-grid: (
  columns: $grid-columns,
  gutter: $grid-gutter
);

// We define our breakpoints in the object below.
$adaptable-breakpoints: (
  medium: 640px,
  large: 980px,
  x-large: 1200px
);
