// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Brand and project font-sizes and line-heights are held in maps.
// Access these using `@include font()` from `tools/typography`.
$text: (
  heading-alpha: (
    small: (
      font-size: 36px,
      line-height: 1.16
    ),
    large: (
      font-size: 50px,
      line-height: 1.12
    )
  ),
  heading-bravo: (
    small: (
      font-size: 29px,
      line-height: 1.2
    ),
    large: (
      font-size: 40px,
      line-height: 1.15
    )
  ),
  heading-charlie: (
    small: (
      font-size: 25px,
      line-height: 1.24
    ),
    large: (
      font-size: 34px,
      line-height: 1.18
    )
  ),
  heading-delta: (
    small: (
      font-size: 20px,
      line-height: 1.3
    ),
    large: (
      font-size: 28px,
      line-height: 1.21
    )
  ),
  text-lead: (
    small: (
      font-size: 18px,
      line-height: 1.44
    ),
    large: (
      font-size: 22px,
      line-height: 1.36
    )
  ),
  text-body: (
    small: (
      font-size: 16px,
      line-height: 1.5
    ),
    large: (
      font-size: 18px,
      line-height: 1.44
    )
  ),
  text-smallprint: (
    small: (
      font-size: 12px,
      line-height: 1.5
    ),
    large: (
      font-size: 12px,
      line-height: 1.5
    )
  )
) !default;
