{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["compat"]
}
