// ==========================================================================
// UTILITIES / BREAKOUT
// ==========================================================================
//
// Allows components to break out of their container and span across the
// full width of the viewport.

@use "sass-mq/mq";

/* stylelint-disable declaration-no-important */

.u-breakout {
  width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
}

.u-breakout\@sm {
  @include mq.mq($until: md) {
    width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
  }
}
