// =============================================================================
// UTILITIES / TYPOGRAPHY
// =============================================================================

// Typography utilities will override any matching property declarations

// Text alignment utilities
// ==============================================

// stylelint-disable declaration-no-important

$text-alignments: (left, center, right, justify);

@mixin _build-text-alignments($breakpoint: null) {
  // Generate general use text alignment classes
  @each $text-alignment in $text-alignments {
    .u-text-#{$text-alignment}#{$breakpoint} {
      text-align: $text-alignment !important;
    }
  }
}

@include _build-text-alignments;

// Generate responsive text alignment classes
@each $breakpoint, $value in $mq-breakpoints {
  @include mq($from: $breakpoint) {
    @include _build-text-alignments(\@$breakpoint);
  }
}

// Font weights and styles utilities
// ==============================================
//
// $font-weights are declared inside settings/_typography

@each $font-weight-key, $font-weight-value in $font-weights {
  .u-font-#{$font-weight-key} {
    font-weight: $font-weight-value !important;
  }
}

.u-font-normal {
  font-style: normal !important;
}

.u-font-italic {
  font-style: italic !important;
}

// Transformation
// ==============================================

@each $transformation in lowercase, uppercase, capitalize {
  .u-text-#{$transformation} {
    text-transform: $transformation !important;
  }
}

// Misc
// ==============================================

.u-text-decoration-none {
  text-decoration: none !important;
}

// Text utility to constrain text to a maximum of 75 characters per line,
// regardless of the text’s `font-size`.

.u-text-constrain {
  max-width: 75ch !important;
}
